@font-face {
  font-family: "iconfont"; /* Project id 2969690 */
  src: url('iconfont.woff2?t=1672229510022') format('woff2'),
       url('iconfont.woff?t=1672229510022') format('woff'),
       url('iconfont.ttf?t=1672229510022') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e603";
}

.icon-31haoyou:before {
  content: "\e604";
}

.icon-chuzuwu:before {
  content: "\e66a";
}

.icon-ditu:before {
  content: "\e8ad";
}

.icon-zaixianxuanfang:before {
  content: "\e605";
}

.icon-cuocha_kuai:before {
  content: "\ed1e";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-bilibili-line:before {
  content: "\e69e";
}

.icon-31zhuanfa:before {
  content: "\e602";
}

.icon-pinglun:before {
  content: "\e7f5";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-zheng-triangle:before {
  content: "\e652";
}

.icon-daosanjiao:before {
  content: "\e74b";
}

.icon-yanjing_yincang:before {
  content: "\eb45";
}

.icon-yanjing_xianshi:before {
  content: "\eb46";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-xiai:before {
  content: "\e661";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-zitiyanse:before {
  content: "\ec85";
}

.icon-xiaoxi:before {
  content: "\e8bd";
}

.icon-tupian_huaban:before {
  content: "\e62c";
}

.icon-tianjiahaoyou:before {
  content: "\e608";
}

.icon-yajun:before {
  content: "\e6b0";
}

.icon-guanjun:before {
  content: "\e6b1";
}

.icon-jijun:before {
  content: "\e6b2";
}

.icon-weibo:before {
  content: "\e6c4";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-android:before {
  content: "\e669";
}

.icon-ios:before {
  content: "\e601";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-daohang:before {
  content: "\e651";
}

.icon-diyi:before {
  content: "\e6e9";
}

.icon-daochu1024-26:before {
  content: "\e617";
}

.icon-daochu1024-27:before {
  content: "\e618";
}

.icon-daochu1024-28:before {
  content: "\e619";
}

